.grid {
    font-size: 15px;
    text-align: center;
    color: #a7a7a7;

    &__itens {
        justify-self: center;
        display: flex;
        flex-wrap: wrap;
        @media screen and (min-width: 992px) {
            justify-content: left;
        }
    }
}