body {
  background-color: #f9f9f9;
  color: #212529;
  font-family: Noto Sans SC,sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  min-height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
}